img{
    width: 50%;
    border-radius: 0%;
    border: 8px solid #ffffff;
    margin-top: 1%;
  }

  ion-card{

    ion-card-header{

      ion-card-title{
        color: black;
      }

      ion-card-subtitle{
        color: black;
      }
    }

  }